<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for shopping with us!</h1>
    <p>
      Your order has been received and will be shipped within 2 business days.
    </p>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <% @rows.each do |item| %>
        <td><%= item["name"] %></td>
        <td><%= item["qty"] %></td>
        <td><%= humanized_money_with_symbol item["price"]/100 %></td>
      <% end %>
      <td></td>
      <td><b>Total:</b></td>
      <td><b><%= humanized_money_with_symbol @total/100 %></b></td>
    </table>
    <p>
      Best,
    </p>
    <p>The Jungle Team</p>
  </body>
</html>