
@mixin border-radius($val) {
  -moz-border-radius: $val;
  -webkit-border-radius: $val;
  -ms-border-radius: $val;
  -o-border-radius: $val;
  border-radius: $val;
}

main section.products-index,
main section.categories-show {

  .products {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-around;

    .product {
      // flex:      1;
      max-width: 260px;
      // so that footer within can be positioned absolutely
      position:  relative;

      border:        1px solid #ccc;
      border-radius: 5px;
      padding:       15px;
      padding-bottom: 80px;
      margin-top:    20px;
      // margin:        10px;

      header img {
        max-width: 100%;
        max-height: 140px;
        margin: auto;
        display: block;
      }

      footer {
        position: absolute;
        bottom: 0;
        left:   0;
        background-color: #EEE;
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
        opacity: 0.3;
        transition: all 0.3s;
      }

      aside.price {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: #eee;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 20px;
        font-size: 0.8em;
      }

      &:hover {

        border-color: #999;

        footer {
          opacity: 1.0;
        }
      }

      span.sold {
        color: #fff;
        background-color: #de9997;
        padding: 1rem 1.5rem;
        border-radius: 4px 0 10px 0;
        font-size: 1.5rem;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 0;
      }

    }
  }
}

main section.products-show {

  .product-detail {
    img.main-img {
      max-width: 100%;
    }
  }
}
.margin-5 {
  margin-bottom: 2rem;
}
.purchase-order {
  .heading, .total {
    height: 40px;

    .qty {
      font-style: initial;
      right: 10rem;
    }
  }

  .heading {
    background-color: #ab605e;
  }

  .total {
    background-color: #ccc;
  }

  span {
    display: inline-block;
  }

  span.product-name {
    left: 8.5rem;
  }

  span.info {
    position: absolute;
    font-weight: bold;
  }

    .price {
      font-weight: bold;
      right: 1rem;
    }

    .qty {
      font-style: italic;
      right: 12rem;
    }




}

button#show {
  float: right;
}

.review-content {
  border-bottom: solid 1px #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
}

.product-review {
  width: 100%;
  text-align: right;
  float: right;
}

.rater {
  width: 100px;
  display: inline-block;
  margin: 0 1rem;
}