<section class="admin-products-new">

  <header class="page-header">
    <h1>All Categories</h1>
  </header>

  <div class="panel panel-default products">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Category</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |cat| %>
          <tr><td><%= cat.name %></td></tr>
         <% end %>
      </tbody>
    </table>

  </div>

</section>
